[submodule "Library/Aviant"]
	path = Library/Aviant
	url = https://github.com/panosru/Aviant.git

[submodule "Hosts/WebApp/Assets"]
	path = Hosts/WebApp/Assets
	url = https://github.com/panosru/CleanDDDArchitectureAssets.git
