---

Serilog:
  Using:
    - Serilog.Sinks.Console
    - Serilog.Sinks.Grafana.Loki
  MinimumLevel:
    Default: Debug
    Override:
      Microsoft: Warning
      System: Warning
      Hangfire: Information
      Serilog: Information
  Enrich:
    - FromLogContext
    - WithMachineName
    - WithThreadId
    - WithAssemblyName
    - WithAssemblyVersion
  WriteTo:
    - Name: Console
      Args:
        theme: "Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console"
        outputTemplate: "{Timestamp:dd-MM-yyyy HH:mm:ss} [{Level:u3}] [{SourceContext}] {Message}{NewLine}{Exception}"
    - Name: GrafanaLoki
      Args:
        uri: http://localhost:13100
        labels:
          - key: app
            value: web_app
        outputTemplate: "[{ThreadId}] [{TraceId:l}] [{Time}] {Message}{NewLine}{Exception}"
        createLevelLabel: true
        useInternalTimestamp: true
