SOLUTION_NAME=cleandddarchitecture
POSTGRES_DB=cleandddarchitecture
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=15432
REDIS_PASSWORD=change-me
REDIS_PORT=16379
JWT_ISSUER=cleandddarchitecture
JWT_AUDIENCE=cleandddarchitecture-clients
JWT_ACCESS_KEY256=0123456789abcdef0123456789abcdef
JWT_ACCESS_KEY512=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_KEY256=fedcba9876543210fedcba9876543210
JWT_REFRESH_KEY512=fedcba9876543210fedcba9876543210fedcba9876543210fedcba9876543210
JWT_REFRESH_EXPIRATION_MINUTES=10080
JWT_CLOCK_SKEW_MINUTES=1
EXT_AUTH_GOOGLE_DISPLAY_NAME=Google
EXT_AUTH_GOOGLE_AUTHORITY=
EXT_AUTH_GOOGLE_CLIENT_ID=
EXT_AUTH_GOOGLE_CLIENT_SECRET=
EXT_AUTH_GOOGLE_SCOPE0=openid
EXT_AUTH_GOOGLE_SCOPE1=profile
EXT_AUTH_GOOGLE_SCOPE2=email
REST_API_PORT=8081
WEB_APP_PORT=8082
GATEWAY_PORT=8080
ACCOUNT_SERVICE_PORT=5201
TODO_SERVICE_PORT=5202
WEATHER_SERVICE_PORT=5203
GRAFANA_PORT=3000
PGADMIN_PORT=5050
MAILPIT_PORT=8025
MAILPIT_SMTP_PORT=11025
KAFKA_PORT=19092
EVENTSTORE_HTTP_PORT=2113
EVENTSTORE_TCP_PORT=1113
LOKI_PORT=3100
REDIS_COMMANDER_PORT=18081
KOWL_PORT=18080
