<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/style/weather.css"/> <!-- <- this is not found -->
    <link rel="stylesheet" href="~/_content/CleanDDDArchitecture.Domains.Weather.Hosts.WebApp.Presentation/style/weather.css"/>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
